@font-face{
    font-family: Krub-Bold;
    src: url(/fonts/Krub/Krub-Bold.ttf);
}
@font-face{
    font-family: Krub-Regular;
    src: url(/fonts/Krub/Krub-Regular.ttf);
}
*{
    font-family: Krub-Regular;
}
h1,h2,h3,h4,h5,h6{
    font-family: Krub-Bold;
    
}
body{
    margin: 0;
    
}
.uni-coding{
    height: 90px;
    background-color: #181818;
}
.section-divide{
    width: 33.33%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    float: left;
    /*background-color: black;*/
}
#logo{
    width: 100px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 10px;
    

}
#logo a{
    text-decoration: none;
    color: white;
}
#navigate{
    
    width: 70%;
}
#navigate ul li{
    
    display: inline;
    padding:7.5px;
    float: left;
    margin-left: 120px;
    margin-top: 15px;

    
    
}
#navigate ul li a{
    /*border: solid 1px;*/
    
    color: white;
    text-decoration: none;
    font-family: Krub-Bold;
    font-size: 18px;
    text-transform:uppercase;
    float:right;
    
}
#navigate ul li:hover{
    border-bottom: 2px solid white;
}

#signin{
    margin-left: 50px;
    background-color: white;
    border: none;
    border-radius: 2px;
    width: 100px;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 30px;
}
#signin a{
    text-decoration: none;
    font-family: Krub-Bold;
    color: #181818;
}
.sec{
    width: 10%;
    float: left;


}
.fa-solid{
    float: right;
    position: absolute;
    
    padding:10px;
    margin-top: 40px;
    margin-left: 70px;
    
}
/*header*/

/*coverpage*/
#container{
    height: 500px;
    width: 100%;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
}
#innercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: #8c6eca 1px solid;*/
    margin-left: 400px;
}
#text-div{
    /*border: #8c6eca 1px solid;*/
    padding-left: 100px;
    color:#fdfdfd;
    width: 300px;
}
#circle{
    height: 300px;
    width: 300px;
    background-color: #8c6eca;
    
    border-radius: 50%;
    

}
#coverimage{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-design{
    padding: 10px;
    align-items: center;
    font-weight: bold;
    color: #fdfdfd;
    background-color: #181818;
    border: none;
}
.button-design a{
    text-decoration: none;
    color:#fdfdfd;
}
.button-design:hover{
    color:#fdfdfd;
    background-color: #8c6eca;
}
#innercontainer2{

    position:absolute;
    top: 150px;
    right: 0.5px;
    color:#fdfdfd;
    border: #fdfdfd 1px solid;
    width: 150px;
    line-height: 1px;
    padding-left: 10px;
}
#edition h2{
    letter-spacing: 2px;
}
#ui-image{
    position: absolute;
    top: 200px;
    left:40px;

}
#vertical-text{
    color:#fdfdfd;
    position: absolute;
    bottom:80px;
    left:0px;
    writing-mode: vertical-rl;
    transform:rotate(180deg);
    letter-spacing: 3px;
    font-size: 40px;

}
#list ul li{
    text-transform: uppercase;
    position: absolute;
    color:white;
    font-weight: bold;
    bottom:200px;
    left:200px;
    width: 100px;
    letter-spacing: 2px;
    font-size: 10px;
    
}
#list ul{
    list-style-type:square;
}
#arrowleft{
    position: absolute;
    top: 500px;
    left: 400px;
}
#arrowright{
    position:absolute;
    top:500px;
    right: 400px;
}
/*Coverpage*/
.uni{
    padding-left:40px;
    padding-right:40px;
}
.section30{
    /*border: #8c6eca 1px solid;*/
    display: flex;
    float: left;
    width: 32.33%;
    justify-content: center;
    letter-spacing: 2px;

}
.section30 p{
    font-size:16px;
    margin-left: 10px;
}

#statistics{
    background-color: #181818;
    height: 100px;
    color: #fdfdfd; 
    padding:40px;
    box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45),
0px 25px 20px -20px rgba(0,0,0,0.45);


}
#right-align{
    float: right;
}
/*Statistics */

/*Discover section*/
#discover-section{
    box-shadow:inset 0px 25px 20px 20px #151515;
    
    
    background-color: #181818;
    display: flex;
    color:#fdfdfd;
    height: 500px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}
#centercontent {
    
    text-align: center;
    font-size: 30px;

}
#centercontent img{
    position: absolute;
    top: 130%;
    left: 25%;
    width: 700px;
}
.list-style ul {
    list-style-type: square;
}
#discoverleft{
    
    position: absolute;
    top: 130%;
    left: 2.5%;
    writing-mode: vertical-rl;
    transform:rotate(180deg);
    white-space: nowrap;
    
    
}
#discoverright{
    position: absolute;
    top:130%;
    right: 2.5%;
    writing-mode: vertical-rl;
    transform:rotate(360deg);
    white-space: nowrap;

}
.discover-button{
    background-color:#181818;
    border: none;
    color: #252525;
    text-transform:uppercase;
    font-size: 50px;
    font-weight:bolder;
}
.discover-button a{
    color: #252525;
    text-decoration: none;
}
.discover-button:hover{
    color:#fdfdfd;
    
}
#left{
    position:absolute;
    top: 180%;
    left:3.5%
    
}
#right{
    position: absolute;
    top:180%;
    right: 3.5%;
}
#arrowcenter{
    position:absolute;
    top: 180%;
    left:50%
}
/*Discover section*/

/*find section*/
#find-section{
    height: 600px;
    background-color: #181818;
    color: #fdfdfd;
    display: flex;
    
}
.section25{
    
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 20%;
    float: left;
    border: #fdfdfd 2px solid;
    height: 300px;
    margin-top: 150px;
    
    
    box-sizing: border-box;
    
}
.section25 h5{
    background-color: #fdfdfd;
    color: #181818;
    height: 30px;
    margin-top: 0px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    
}

#find-content{
    
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    flex-direction:row;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 30px;
    


}
#find-content p{
    margin-top: 65px;
    padding-left: 10px;
}
.find-innercontainer{
    margin-block-start: 0px;
    padding-left: 20px;
    padding-right: 20px;

    
    
    
}
.find-innercontainer h3{
    
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    
    
    
    
}
.line2{
    text-decoration:underline #8c6eca 2px solid;
    text-underline-offset: 15px;
    
    
}

.gen-button{
    background-color: #8c6eca;
    color:white;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    margin-left: 60px;
    
}
.gen-button a{
    color: #fdfdfd;
    text-decoration: none;
}
.find-innercontainer p{
    font-weight: bold;

    
}
#find-edition{
    
    height: fit-content;
    position:absolute;
    right: 40px;
    text-transform: uppercase;
}
#find-edition ul{
    list-style-type: square;

}
#find-edition h2{
    padding-left: 40px;
    line-height:0.2;
    letter-spacing: 2px;
}
#course1{
    position: absolute;
    
}
#course2{
   margin-right: 70px;
}

#course4{
    position: absolute;
    right: 40px;
}
#othercourses{
    text-transform: uppercase;
    position:absolute;
    left: 45%;
    top: 270%;
    display: flex;
    
}
#othercourses img{
    margin-left: 50px;
    margin-top: 10px;
}
#othercourses a{
    color:#fdfdfd;
    text-decoration: none;
}
/*find section*/

/*About us section*/
.section50{
    
    width: 50%;
}
#aboutus-section{
    background-color: #181818;
    display: flex;
    height: 700px;

}
#circle-parent{
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 25px;
    margin-top: 12%;
}
.circle{
    height: 400px;
    width: 400px;
    background-color: #8c6eca;
    
    border-radius: 50%;
    

}
#about-image{
    position: absolute;
    top: 290%;
    right: 40px;
}
#about-text{
    margin-top: 200px;
    margin-left: 100px;
    color:#fdfdfd;
    
    
}
#about-text p{
    margin-top: 50px;
    width: 400px;
    line-height: 190%;
}
#about-text ul{
    list-style-type: square;
    /*border: #fdfdfd 1px solid;*/
    line-height: 380%;
    column-count: 2;
}

#about-text button{
    margin-left: 0px;
    margin-top: 30px;
}
#shape-img{
    position: absolute;
    top: 270%;
    left: 0;
}
#shape-right{
    position: absolute;
    right: 100px;
}
#shape{
    position:absolute;
    top: 390%;
    left: 42%;
}
/*About us section*/
/*WhyUsSection*/
#WhyUsSection{
    display: flex;
    background-color: #181818;
    height: 900px;
}
#WhyUs-content{
    border: #8c6eca 1px solid;
    color: hsl(0, 0%, 99%);
    padding-left: 100px;
    padding-top: 300px;
    
}
#Explore{
    position: absolute;
    right: 0px;
    top: 450%;
}
#circlebottom{
   position: absolute;
   
    

}
#WhyUs-content p{
    width: 400px;
    line-height: 200%;
}
#WhyUs-content h1{
    line-height: 180%;
}
#WhyUs-content button{
    margin-left:0px ;
    margin-top: 30px;
}
#Oval3{
    position: absolute;
    right: 0px;
    top: 395%;
}
#Circle3{
    position: absolute;
    top: 394%;
    right: 10%;
}

#image-Whyus{
    margin-top: 200px;
    
    width: fit-content;
    padding-top: 100px;    

}
#image-Whyus img{
    width: 90%;
}
/*WhyUsSection*/

/*video section*/
#videoSection{
    height: 700px;
    color: #fdfdfd;
    background-color: #181818;
    
   
}
#Backimg{
    height: 600px;
    
    background-image: url(/images/video.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    


}
#Playpng{
    margin: 100px;
}
.paragraphRotate{
   
    display: flex;
    overflow: auto;
    flex-direction: column;
    height: 300px;
    margin-top: 150px;
}
.paragraphRotate img{
    width: 50px;
    
    margin-left: 40px;
    margin-bottom: 40px;
}
.paragraphRotate p{
    text-transform: uppercase;
    margin: 40;
    transform: rotate(-90deg);
    
}
#rotateArrow{
    transform: rotate(-180deg);
    margin-top: 70px;
    margin-bottom: 0px;
}
/*#arroplay1{
    margin-top: 400px;
    margin-right: 100px;
}
#arrowplay2{
    margin-top:150px ;
    margin-left: 50px;
    

}
#startag1{
    transform:rotate(270deg);
    text-transform: uppercase;
    display: block;
   
    margin-left: -60px;
    margin-top: 250px;
    
    
    
}
.noWrap{
    line-height: 0px;
    white-space: nowrap;
    
    

}
#startag2{
    text-transform: uppercase;
    transform: rotate(270deg);
    display: flex;
    color: black;
    margin-bottom: 200px;
}
*/
.section10{
    width: 10%;
    display: flex;
    float: left;

}
.section60{
    width: 80%;
    display: flex;
    float: left;
}

/*video section*/

/*Footer */
.section33{
    width: 30.40%;
    float: left;
    display: flex;
    flex-direction: column;
    color:white;
    padding-top: 60px;
    padding-left: 40px;
    
}
#newsletter-section{
    box-sizing: border-box;
    width: fit-content;
    margin-left: 60px; 
    /*border: #181818 1px solid;*/
    text-align: right;
    
}
.foot-padding
{
    box-sizing: border-box;
    height:400px;
    background-color: #8c6eca;
}

#about-section ul li a{
    text-decoration: none;
    color:white;
   

}
#about-section ul li {
    list-style-type: none;
    line-height: 1.8;
    
}
.line{
    width: fit-content;
    padding-bottom: 3px;
    border-bottom-style: solid;
    
    margin-bottom: 1px;
}
#purpose-section ul li a{
    text-decoration: none;
    color:white;
    
}
#purpose-section ul li{
    list-style-type: none;
    line-height: 1.8;
}

.paddingless{
    padding: 0px;
}
#social-icon{
    box-sizing: border-box;
    margin-top: 20px;
    width: fit-content;
    
    
    
}
#social-icon ul{
    
    padding-left:0px;
    
}
#social-icon a{
    text-decoration: none;
    color: white;    
} 
#social-icon ul li{
    display: inline;
}
.leftmargin{
    margin-right: 40px;
}
.fa-facebook-f{
    margin-right: 40px;

}
.fa-square-instagram{
    margin-right: 40px;
}


#input-box{
   background-color:#8c6eca ;
   border: 1px solid white;
   width: 300px;
   height: 40px;
   color: white;
   font-weight: bold;
   font-family: Krub-Regular;
   
}

.fa-brands{
    background-color: #fdfdfd;
    color:#8c6eca;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
}


